* {
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    padding-bottom: 40px;
}
.divHeader{
    max-width: 900px;
    margin: 40px auto;
}
.logo{
    width: 60px;
    height: 30px;
    font-size: 20px;
    background-color: #227C9D;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    letter-spacing: 1px;
}

.container{
    max-width: 900px;
    margin: 40px auto;
    display: flex;
}
.leftSide{
    flex: 1;
    width: 100%;
    margin-right: 40px;
}
.container .leftSide h1{
    margin: 0;
    font-size: 40px;
    color: #3A4B5C;
}
.container .leftSide p{
    margin-bottom: 40px;
    font-size: 16px;
    color: #6A7D8B;
}
.container .leftSide input{
    width: 100%;
    font-size: 14px;
    border: 0;
    border-bottom: 2px solid rgba(150, 163, 171, 0.5);
    padding: 10px 2px;
    margin-bottom: 20px;
    outline: 0;
}
.container .leftSide input:disabled{
    opacity: 0.5;
}
.container .leftSide .subtitle{
    width: 100%;
    font-size: 16px;
    color: #3A4B5C;
}
.container .leftSide .subtitle:disabled{
    opacity: 0.5;
}
.container .leftSide button{
    width: 100%;
    margin: 40px auto;
    background-color: #227C9D;
    color: #FFF;
    font-size: 15px;
    border: 0;
    border-radius: 10px;
    padding: 15px 0px;
    transition: all ease 0.3s;
}
.container .leftSide button:hover{
    opacity: 0.8;
}
.container .leftSide button:disabled{
    opacity: 0.5;
}


.rightSide{
    flex: 1;
    width: 100%;
    margin-left: 40px;
    display: flex;
}
.rightSide .grid{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.rightSide .rightBig{
    flex: 1;
    display: flex;
}
.rightSide .rightArrow{
    width: 70px;
    height: 70px;
    position: relative;
    background-color: #227C9D;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    left: 35px;
    top: 145px;
    transition: all ease 0.3s;
}
.rightSide .rightArrow:hover{
    opacity: 0.9;
}

@media (max-width: 770px) {

    header{
        padding: 0 20px;
    }
    .container{
        padding:  0 20px;
        flex-direction: column;
    }
    .leftSide{
        margin-right: 0px;
    }
    .rightSide{
        margin-left: 0px;
        margin-top: 50px;

    }
    .rightSide .rightBig{
        position: relative;
    }
    .rightSide .rightArrow{
        position: absolute;
        rotate: 90deg;
        top: -60px;
        left: 45%;
    }
}

@media (max-width: 430px) {
    .rightSide .grid{
        grid-template-columns: 1fr;
    }

}